<ion-header>
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pokemon of pokemons; trackBy: trackByPokemon">
      <ion-button fill="clear" (click)="presentActionSheet({ pokemon })">
        <ion-avatar slot="start">
          <img [src]="pokemon.imagen" alt="{{ pokemon.nombre }}" />
        </ion-avatar>
        <ion-label>{{ pokemon.nombre }}</ion-label>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Aquí uso “fantasma” para que Angular registre el selector -->
  <app-detail-pop-up
    *ngIf="false"
    [pokemon]="pokemons[0]">
  </app-detail-pop-up>
</ion-content>

<app-footer></app-footer>
